In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#how to save the model and add up to predict later . not necessary to retarin:
from sklearn.externals import joblib

C:\Users\HP\Anaconda3\NEW ANACONDA\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [2]:
music_data=pd.read_csv("music.csv")

In [3]:
music_data

    age  gender      genre
0    20       1     hiphop
1    23       1     hiphop
2    25       1     hiphop
3    26       1       jazz
4    29       1       jazz
5    30       1       jazz
6    31       1  classical
7    33       1  classical
8    37       1  classical
9    20       0      dance
10   21       0      dance
11   25       0      dance
12   26       0   acoustic
13   27       0   acoustic
14   30       0   acoustic
15   31       0  classical
16   34       0  classical
17   35       0  classical

In [4]:
#splitting into input and  output
X=music_data.drop(columns=["genre"])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [5]:
#creating the output set
y=music_data["genre"]
y

0        hiphop
1        hiphop
2        hiphop
3          jazz
4          jazz
5          jazz
6     classical
7     classical
8     classical
9         dance
10        dance
11        dance
12     acoustic
13     acoustic
14     acoustic
15    classical
16    classical
17    classical
Name: genre, dtype: object

In [6]:
X_train, X_test,y_train,y_test=train_test_split(X,y, test_size=0.2)

In [7]:
model=DecisionTreeClassifier()
model.fit(X_train,y_train)
predictions=model.predict(X_test)
score=accuracy_score(y_test,predictions)
score

1.0

In [8]:
joblib.dump(model, "music-recommender.joblib")  #saving

['music-recommender.joblib']